.form{
    max-width: 400px;
    justify-content:center;
    margin:auto;
}

.textForm{
    color:white;
    font-size: 20px;
    margin-top:25px;

}


.enlacesss a{
    color:white;
    text-decoration: none;
    margin-top: 15px;
}


#boton{
    margin-top: 10px;
    margin-bottom: 35px;
}