#actualizar{
	margin-top: 30px;
	margin-bottom: 40px;
	background-color: azure;
}
#Identificador{
	width: 400px;
	margin: 0;
}

.tabla{
	margin-top: 100px;
}

.tabla-ancho{
	max-width: 800px;
	margin:auto;
}

.enlacess a{
    color:white;
    text-decoration: none;
    margin-top: 15px;
}

#modall{
	justify-content: center;
	text-align: center;
	margin:auto;
	margin-top:15px;
	margin-bottom: 15px;

}

#crear{
	text-align: center;
	margin: auto;
	justify-content: center;
}

