.container-fluid_1{
    background-color:white;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 25px, rgba(253, 253, 253, 0.5) 25px, rgba(230, 230, 230, 0.5) 40px);
}

.container-fluid_1::after{
    content: '';
    background-color: transparent;
    display: block;
    height: -30px;
    width: 50%;
    margin: -10px;
    position: relative;
    left: 10px;
}

.container_1{
    background-color:rgb(250, 250, 250);
    position: relative;
    margin-top: -40px;
    z-index: 5px;
    box-shadow: 0 0 100px black;
    

}

.container_1 img{
    position: relative;
    margin-top: -30px;
}

.container_2{
    position: relative;
    margin-top: -30px;
}

.separator-ribbon{
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.content_00{
    width: 150%;
    height: 50px;
    margin-left: -25%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.card{
    border: solid 10px white;
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out 0.2s;
}

.card:hover{
    transform: scale(1.05);
}

.card{
    background: white;
    background: url(https://www.lucushost.com/blog/wp-content/uploads/2018/03/paginas-web-para-descargar-imagenes-gratis.png) linear-gradient(0deg, white,0% blue);
    background-repeat: repeat-x;
    background-size: 75%;
    margin-top: -20px;


}

.separator-amiibos{
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.separator-amiibos .content_01{
    background: url();
    width: 110%;
    height: 100px;
    margin-left: -5%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}